include *.md
recursive-include mrq/supervisord_templates *
recursive-include requirements *
recursive-include mrq/dashboard/static *
recursive-include mrq/dashboard/templates *
recursive-exclude tests *